/* Общие */
::before,
::after{
    box-sizing: border-box;
}

.wrapper{
    width: 305px;
    margin: 0 auto;
}
/* слайдер */

.slider-container{
    
overflow: hidden;
background-color: red ;
}

.slider-track{
    display: flex;
    background-color: yellow;
    transition: .0,2s;
}

.slider-item{
    height: 230px;
    
}

.slider-buttons{
    text-align: center ;
    margin-top: 50px;
    
}


/*
.slider-item:nth-child(3n + 1){background-color: red;}

.slider-item:nth-child(3n + 2){background-color: green;}

.slider-item:nth-child(3n + 3){background-color: blue;}
*/

